__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
.venv/
venv/
.env
.env.lock
..env.*.tmp
.env.docker.local
dist/
build/
node_modules/
*.tsbuildinfo
var/
.idea/
.vscode/
tests/unit/*
tests/unit/interfaces/*
tests/unit/orchestration/*
projects/
tests/fixtures/


.exe
.sha256
.test-tmp

packaging/*
.test-tmp/*
